<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <!-- <link rel="stylesheet" href="../css/jquery-ui.theme.min.css"> -->
    <style>
        #id{
            position: absolute;
        }
        .flex-style{
            display: flex;
        }
    </style>
</head>
<body>
    <div class="open-form" style="width: 100px;  height: 100px;"></div>
    <div class="courseregister-form" style="display: none;">
        <div class="courseregister">
           <table>
                                    
                                    <tr>
                                        <td class="col-md-3" >Tài khoản: </td>
                                        <td class="col-md-9"><input type="text" id="account-name"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3">Email:</td>
                                        <td class="col-md-9" id="email"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3">Số điện thoại:</td>
                                        <td class="col-md-9"><input stype="text" id="phone-number" name="txtsodt"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3">Địa chỉ:</td>
                                        <td class="col-md-9"><input type="text" id="address"></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3">Hình thức thanh toán:</td>
                                        <td class="col-md-9"><input type="text" id="join-courses"></td>
                                    </tr>
                                    <br><br><br>
                                   <tr>
                                        <td class="col-md-3"></td>
                                        <td class="col-md-9" ><a class="btn btn-primary" id="xacnhan">Xác nhận</a></td>

                                    </tr>
                                    
                                </table>
        </div>
    </div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- <script src="../js/bootstrap.min.js"></script> -->
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/firstSignInPage.js"></script>
</body>
</html>