<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <!-- <link rel="stylesheet" href="../css/jquery-ui.theme.min.css"> -->
    <style>
        #id{
            position: absolute;
        }
        .flex-style{
            display: flex;
        }
    </style>
</head>
<body>
    <button class="open-form" style="width: 100px;  height: 100px;"></button>
    <div id="detailcourse-form" style="display: none;">
        <div class="detailcourse">
           <h6>Chào mừng các bạn đến với khóa học Tiếng Anh trên website Learning English. Trước khi bắt đầu khóa học các bạn hãy dành một chút thời gian để tìm hiểu về những giới thiệu chung nhất và những cách giúp bạn đạt kết quả cao nhất trong khóa học này nhé:</h6>
           <p>1. Who learns? (Khóa học này dành cho ai?)</p>
           <p>Đây là khóa học dành cho các bạn đã hoàn thành xong khóa học Tiếng Anh Cơ Bản miễn phí và có nhu cầu học thêm về tiếng Anh với trình độ nâng cao hơn. Ngoài ra khóa học còn hoàn toàn phù hợp với những bạn đã có nền tảng về tiếng Anh và muốn tiếp tục quá trình học của mình với trình độ tương đương Pre – Intermediate và Intermediate. Những bạn muốn ôn tập lại ngữ pháp, mở rộng vốn từ vựng về các chủ đề khác nhau cũng như luyện tập các kỹ năng tiếng Anh, Nghe – Nói – Đọc – Viết cũng sẽ tìm thấy những điểm hữu ích trong khóa học này.</p><br>
           <p>2. What to learn? (Bạn sẽ học những gì trong khóa học này?)</p>
           <p>Khóa học Tiếng Anh này bao gồm 12 bài học và các bài kiểm tra. Những bài kiểm tra này sẽ được tiến hành sau mỗi bài học nhằm giúp các bạn ôn tập và đánh giá quá trình học tập của mình. Mỗi bài trong khóa học này bao gồm 2 phần chính như sau:</p>
           <p>  + Học lý thuyết và luyện thực hành theo video học của giáo viên day.</p>
           <p>  + Thực hiện bài test kiểm tra kiến thức</p>

        </div>
    </div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <!-- <script src="../js/bootstrap.min.js"></script> -->
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/firstSignInPage.js"></script>
</body>
</html>