<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <!-- <link rel="stylesheet" href="../css/jquery-ui.theme.min.css"> -->
    <style>
        #id{
            position: absolute;
        }
        .flex-style{
            display: flex;
        }
    </style>
</head>
<body>
    <div class="open-form" style="width: 100px;  height: 100px;"></div>
    <div class="detailcourse-form" style="display: none;">
        <div class="detailcourse">
          
        </div>
    </div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/firstSignInPage.js"></script>
</body>
</html>