<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <title>Video bài học</title>
        
      
        <!-- style tong hop -->  
        <link rel="stylesheet" type="text/css" href="lession_files/ta123_styles.css">  
        <link rel="stylesheet" type="text/css" href="lession_files/more-style.css">  
        <link rel="stylesheet" href="./course_files/template-1052220419.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/common/header.css">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="js/bootstrap.min.js"></script>
      
        <script language="javascript" type="text/javascript" src="lession_files/jwplayer.js"></script>
        <script type="text/javascript">jwplayer.key="vOnm6Wyw2ahF/4eYPzMt4fCPlj56ZaBGZIL5oVqY2M0=";</script>
        </script><link type="text/css" href="lession_files/new_style.css" rel="stylesheet"><script src="lession_files/f(4).txt"></script>
       
<link rel="preload" href="lession_files/f(5).txt" as="script">
<script type="text/javascript" src="lession_files/f(5).txt"></script>
<link rel="preload" href="lession_files/f(6).txt" as="script">
<script type="text/javascript" src="lession_files/f(6).txt"></script>
<link rel="preload" href="https://pagead2.googlesyndication.com/pagead/js/r20190422/r20190131/show_ads_impl.js" as="script"></head>
<body cz-shortcut-listen="true">
    <header data-sticky="" data-class-name="bg-blue" class="clearfix header1">
<div class="content">
<div class="logo" style="width: 100px; margin-top: 0px;">
<a href="" title="Gia sư TOEIC">
<img src="../image/pic.png" alt="Gia sư TOEIC Logo" style="width: 220px;">
</a>
</div>
<div class="header__menu header__menu--desktop">
<div data-sub-menu="" class="header__menu__left">
<ul class="list-menu" style="margin-left: 200px;">
<li class="list-menu__item menu-in-li">
<div data-btn-submenu-user="" class="user-block user-avatar">
<img src="./usercourse_files/user_icon.webp" alt="User icon" class="icon-user">
<p class="name-user"></p>
<img src="./usercourse_files/show_menu_icon.png" alt="Menu icon" class="icon-show">
</div>
</li>
<li style="padding:0;" class="list-menu__item ">
<div data-btn-submenu-user="" class="user-block" style="display: block;">
<a href="/mainpage" class="name-user submit-btn oval-btn">
Các khóa học cơ bản
</a>
</div>
</li>
<li style="padding: 0;">
<div data-btn-submenu-user="" class="user-block" style="display: block;">
<div class="name-user submit-btn oval-btn">
Đề luyện tập
<img style="float: none; margin-top: 0px;" src="./usercourse_files/show_menu_icon.png" alt="Menu icon" class="icon-show">
</div>
</div>
<ul data-sub-menu-user="" class="submenu learn-freely">
<li class="list-menu__item">
<a href="" title="Đề luyện tập">
<span>Đề luyện tập</span></a>
</li>
<li class="list-menu__item">
<a href="" title="Đề thi thử">
<span>Đề thi thử</span></a>
</li>
<li class="list-menu__item">
<a href="" title="Đề thi rút gọn">
<span>Đề thi rút gọn</span></a>
</li>

</ul>
</li>
<li style="padding:0;" class="list-menu__item">
<div data-btn-submenu-user="" class="user-block" style="display: block;">
<a href="/paid" title="Các khóa học trả phí" class="name-user submit-btn oval-btn">
Các khóa học trả phí
</a>
</div>
</li>
<li class="list-menu__item hotline">
<span class="glyphicon glyphicon-earphone"></span> &nbsp;
0916 92 1419
</li>
</ul>
</div>
<div class="header__menu__right">
<div data-btn-submenu-user="" class="user-block">
<img src="./usercourse_files/user_icon.webp" alt="User icon" class="icon-user">
<p class="name-user" id="user-name"></p>
<img src="./usercourse_files/show_menu_icon.png" alt="Menu icon" class="icon-show" style="">
</div>
<ul data-sub-menu-user="" class="list-menu submenu">
<li class="list-menu__item">
<a href="/profile" title="Thiết lập tài khoản">
<figure><img src="./usercourse_files/profile_page_icon.png" alt="Thiết lập tài khoản"></figure>
<span>Thiết lập tài khoản</span>
 </a>
</li>
<li class="list-menu__item">
<a href="" title="Ghi chú của tôi">
<figure><img src="./usercourse_files/learning_notes_icon.webp" alt="Những ghi chú của tôi"></figure>
<span>Ghi chú của tôi</span>
</a>
</li>
<li class="list-menu__item learning-guide">
<a href="" title="Hướng dẫn cách học">
<figure><img src="./usercourse_files/learning_guide_icon.webp" alt="Hướng dẫn cách học"></figure>
<span>Hướng dẫn cách học</span>
</a>
</li>
<li class="list-menu__item">
<a href="" title="Giới thiệu cho GSToeic">
<figure><img src="./usercourse_files/refer_gst_icon.webp" alt="Giới thiệu cho GSToeic"></figure>
<span>Giới thiệu cho Learning English</span>
</a>
</li>
<li class="list-menu__item">
<a href="" title="Gửi góp ý">
<figure><img src="./usercourse_files/feedback_icon.png" alt="Gửi góp ý"></figure>
<span>Gửi góp ý</span>
</a>
</li>
<li class="list-menu__item logout-menu">
<a href="#" title="Thoát">
<figure><img src="./usercourse_files/logout_icon.webp" alt="Thoát"></figure>
<span>Thoát</span>
</a>
</li>
</ul>
<ul class="list-menu list-menu--mobile">
<li class="list-menu__item">

</li>
</ul>
<button type="button" data-btn-submenu="" class="btn-menu">
<img src="./course_files/icon_menu_closed.png" alt="menu closed" data-submenu-close="">
<img src="./course_files/icon_menu_open.png" alt="menu opened" data-submenu-open=""></button>
</div>
</div>
</div>
</header>
       

     
        
                <style type="text/css">
            @media screen and (min-width:0\0) { 
                .containt_center_cen{margin-top: -145px !important;}  
            .containt_center_top {margin-top: -154px !important;}  
            .containt_customer{margin-top: -145px !important;}  
            .containt_customer_top{margin-top: -155px !important;}  
            }
        </style>
        
    
    
        <div class="bg_top">&nbsp;</div>
        <div class="bg_center">
            <input type="hidden" id="ie_memid" value="">
            <input type="hidden" id="is_vipkid" value="">    
            <input type="hidden" id="pathname" value="">
            <input type="hidden" id="time_end" value="">
            <div id="contents">
                                    
                <div class="containt_center_top clear"></div>
<div class="containt_center_cen clear">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td valign="top" class="containt_center_cen_left"><div class="navigations clear">
  <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
       
    
  </ol>
</div>
<script type="text/javascript">const content_vchat = {"title":"First Greetings","title_trans":"Ch\u00e0o h\u1ecfi l\u1ea7n \u0111\u1ea7u g\u1eb7p m\u1eb7t","name":["David","Mary"],"audio":"https:\/\/noidung.tienganh123.com\/file\/tienganhcoban2018\/unit1\/first-greetings.mp3","list":[{"time":[0,4],"ta":"Hello. I'm David. Nice to meet you.","tv":"Xin ch\u00e0o. T\u00f4i l\u00e0 David. R\u1ea5t vui \u0111\u01b0\u1ee3c g\u1eb7p b\u1ea1n."},{"time":[4,11],"ta":"Hello, David. I'm Mary. Nice to meet you, too.","tv":"Ch\u00e0o David. T\u00f4i l\u00e0 Mary. C\u0169ng r\u1ea5t vui \u0111\u01b0\u1ee3c g\u1eb7p b\u1ea1n."}]}</script><script type="text/javascript">
						const is_vip = 0 ; 
                        const mem_id = 0;  
                        const infoMember =[];
						const course = {courseName:"Tiếng Anh giao tiếp cho người mất gốc",slug:"https://www.tienganh123.com/tieng-anh-giao-tiep-cho-nguoi-mat-goc/23090-cach-chao-hoi-lan-dau-gap-ai-do-trong-tieng-anh.html",idLesson:23090,titleLesson:"Unit 1: First Greetings"};	
					</script>


<div class="navigations clear">
  <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="cate_root" style="z-index:10;"> 
            <a itemprop="item"> 
                <span itemprop="name" id="course-name">Tiếng Anh giao tiếp cho người mất gốc</span></a>
      <meta itemprop="position" content="1">
    </li>
    <li class="cate_current" style="z-index:9; margin-left:-18px">
         <span itemprop="name" id="lesson-name"></span>
      <meta itemprop="position" content="2">
    </li>
  </ol>
</div>

  <div class="video-area">
       
  </div>
  
 
  
  <div id="detail_lesson">
    <div id="box_lecture" style="display:block">
      <div id="game_ubaPlayer"></div>
      <div id="ubaPlayer"></div>
      
        </div>
        <div class="lesson-part"> <div class="bg-title-part bgOrange">
            <div class="title-part bgImgOrange floatLeft font-bold">Từ vựng cần nhớ</div></div>
            <div class="clear"></div><div class="listWord"><div class="word_list_col"> <div class="tacb-item">
            <div class="cont"><span class="vocab text-ta">hello</span> <span class="phonetic colorAeae">/heˈləʊ/</span> 
            <div class="vcab_3" word="exclam."><span class="vcab_show_box type colorAeae">(exclam.)</span>
            <div class="vcab_3box" style="left: 0px;"><div class="v3_bg_icon vcab_3box_arrow"></div>
            <div class="vcab_3box_content">Exclamation: Thán từ<br> 
                <strong><em>Thán từ (tương tự như interjection) là từ được thêm vào trong câu để biểu thị cảm xúc và không có giá trị ngữ pháp</em></strong><br>
                <a target="_blank" href="https://www.tienganh123.com/ngu-phap-tieng-anh-co-ban/1023-than-tu-interjections.html">Đọc thêm về thán từ</a></div></div>
            </div>: <span class="mean">xin chào</span></div><span class="recording_user" value="hello"></span> 
            <span class="uba_audioButton" media-url="https://noidung.tienganh123.com/file/tienganhcoban2018/unit1/audio/hello.mp3"></span></div> <div class="tacb-item"><div class="cont">
                <span class="vocab text-ta">hi</span> 
                <span class="phonetic colorAeae">/haɪ/</span> 
                <div class="vcab_3" word="exclam.">
                <span class="vcab_show_box type colorAeae">(exclam.)</span>
            <div class="vcab_3box" style="left: 0px;"><div class="v3_bg_icon vcab_3box_arrow"></div>
            <div class="vcab_3box_content">Exclamation: Thán từ<br> 
                <strong><em>Thán từ (tương tự như interjection) là từ được thêm vào trong câu để biểu thị cảm xúc và không có giá trị ngữ pháp</em></strong><br><a target="_blank" href="https://www.tienganh123.com/ngu-phap-tieng-anh-co-ban/1023-than-tu-interjections.html">Đọc thêm về thán từ</a></div></div>
            </div>: <span class="mean">xin chào</span></div>
            <span class="recording_user" value="hi"></span> <span class="uba_audioButton" media-url="https://noidung.tienganh123.com/file/tienganhcoban2018/unit1/audio/hi.mp3"></span></div></div><div class="word_list_col"> 
                <div class="tacb-item"><div class="cont"><span class="vocab text-ta">I</span> 
                <span class="phonetic colorAeae">/aɪ/</span> <div class="vcab_3" word="pron.">
                <span class="vcab_show_box type colorAeae">(pron.)</span>
            <div class="vcab_3box" style="left: 0px;"><div class="v3_bg_icon vcab_3box_arrow"></div>
            <div class="vcab_3box_content">Pronoun: Đại từ<br> <strong>
            <em>Đại từ là từ dùng để thay thế cho danh từ hoặc cụm danh từ.</em></strong><br>
            <a target="_blank" href="https://www.tienganh123.com/dai-tu-video/10944-pronoun-part1.html">Đọc thêm về đại từ</a></div></div>
            </div>: <span class="mean">tôi</span></div>
            <span class="recording_user" value="I"></span> 
            <span class="uba_audioButton" media-url="https://noidung.tienganh123.com/file/tienganhcoban2018/unit1/audio/i.mp3"></span></div> 
            <div class="tacb-item">
            <div class="cont"><span class="vocab text-ta">am</span> <span class="phonetic colorAeae">/æm/</span> <div class="vcab_3" word="v."><span class="vcab_show_box type colorAeae">(v.)</span>
            <div class="vcab_3box" style="left: 0px;"><div class="v3_bg_icon vcab_3box_arrow"></div>
            <div class="vcab_3box_content">Verb: Động từ<br> 
            <strong><em>Động từ là từ dùng để miêu tả hành động (do, break, walk,...) hay trạng thái (be, like, own,...). Trong câu luôn phải có ít nhất một động từ.</em></strong><br><a target="_blank" href="https://www.tienganh123.com/dong-tu-video/12924-english-verbs.html">Đọc thêm về động từ</a></div></div>
            </div>: <span class="mean">là</span></div><span class="recording_user" value="am"></span> 
            <span class="uba_audioButton" media-url="https://noidung.tienganh123.com/file/tienganhcoban2018/unit1/audio/am.mp3"></span></div></div></div> <div class="clear"></div>
        <div class="bg-title-part bgOrange">
        <div class="title-part bgImgOrange floatLeft font-bold">Mẫu câu cần nhớ</div>
      </div>
      <div class="clear"></div>
      <div class="box-full"><div class="tacb-item"><span class="text-ta">Hello!</span> 
        <span class="text-tv">Xin chào!</span><div class="floatRight"> <span class="recording_user" value="Hello!"></span> 
        <span class="uba_audioButton" media-url="https://noidung.tienganh123.com/file/tienganhcoban2018/unit1/audio/hello.mp3"></span></div></div><div class="tacb-item"><span class="text-ta">Hi!</span> <span class="text-tv">Chào bạn!</span><div class="floatRight"> 
        <span class="recording_user" value="Hi!"></span> <span class="uba_audioButton" media-url="https://noidung.tienganh123.com/file/tienganhcoban2018/unit1/audio/hi.mp3"></span></div></div><div class="clear"></div></div></div>
     <!--  <div class="clear-part"></div> -->
    </div>
        <div class="lesson-part">
      <div class="bg-title-part bgPractice">
        <div class="title-part bgImgPractice floatLeft font-bold">Luyện tập</div>
      </div>
    <!--   <div class=" floatRight practice-number">Hoàn thành <span id="number_passed">0</span>/<span>4</span></div> -->
     <!--  <div class="clear"></div> -->
      <div class="box-full"> 
                <div class="exser_item">
          <div class="ex_header" id="ex_header_1" passed="" loaded="0" total="5">
            <div class="ex_index">1</div>
            <div class="ex_content">
              <div class="ex_title">Listen and Reorder</div>
              <div class="open-form" type-t="video" level="3" topicid="5">Examination 1</div>
            </div>
        <!--     <div class="ex_score"><span><span class="your_score">0</span>/5</span></div> -->
          </div>
        
        <div class="exser_item">
          <div class="ex_header" id="ex_header_2" passed="" loaded="0" total="4" >
            <div class="ex_index">2</div>
            <div class="ex_content">
              <div class="ex_title">Listen and Reorder</div>
              <div class="open-form" type-t="video" level="3" topicid="6">Examination 2</div>
            </div>
           <!--  <div class="ex_score"><span><span class="your_score">0</span>/4</span></div> -->
          </div>
        
        <div class="exser_item">
          <div class="ex_header" id="ex_header_3" passed="" loaded="0" total="4">
            <div class="ex_index" >3</div>
            <div class="ex_content">
              <div class="ex_title">Choose the correct option</div>
              <div class="open-form" type-t="video" level="3" topicid="5">Examination 3</div>
            </div>
          <!--   <div class="ex_score"><span><span class="your_score">0</span>/4</span></div> -->
          </div>
         
        <div class="exser_item">
          <div class="ex_header" id="ex_header_4" passed="" loaded="0" total="5">
            <div class="ex_index">4</div>
            <div class="ex_content">
              <div class="ex_title">Record</div>
              <div class="open-form" type-t="video" level="3" topicid="6">Examination 4</div>
            </div>
            <!-- <div class="ex_score"><span><span class="your_score">0</span>/5</span></div> -->
          </div>
         
         
      </div>
    </div>
  <!--   <div class="clear-part"></div> -->
     
  </div>
  <!-- <div id="multicheck-form" style="display: none;"></div> -->
  <div id="multicheck-form"></div>


<audio id="audio_incorrect" src="/file/common/lesson/audio/incorrect.mp3" class="audio_control"></audio>
<audio id="audio_ans" src="/file/common/lesson/audio/correct.mp3" class="audio_control"></audio>
<audio id="audio_clickbtn" src="/file/common/lesson/audio/click.mp3" class="audio_control"></audio>
<audio id="audio_nonVip" src="/file/common/lesson/audio/viponly.mp3" class="audio_control"></audio>
<audio id="audio_record" src="" class="audio_control"></audio>

</div>
<div class="space20"></div>


  </div>
  <script src="js/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/lession_files/smart-2.10.min.js"></script> 
<script src="lession_files/load_data.js"></script> 
<script type="text/javascript" src="lession_files/lodash.js"></script> 
<script type="text/javascript" src="lession_files/socket.io.js"></script> 
<script type="text/javascript" src="lession_files/badwords.js"></script> 
<script type="text/javascript" src="lession_files/hoi_dap.js"></script> 
<link rel="stylesheet" type="text/css" href="lession_files/style(1).css">
<style>
.containt_center_cen_left {padding-left: 0px; width:1000px !important}
#box_lecture{display:none}
.breadcrumb{margin-left:20px}
</style>
</td>
            <td valign="top" class="containt_center_cen_right"><style type="text/css">
    .containt_center_top {
        background: url("/images/home/pr_bg_content_top.png") no-repeat scroll -5px 0 transparent !important;
    }
    .containt_center_cen {
        background: url("/images/home/pr_bg_content_center.png") repeat-y scroll 0 0 transparent;
        margin-left: -5px !important;
        padding: 0 5px;
    }
    .containt_center_cen_left{
        width: 985px;
    }
    .input_text{width: 130px;padding-left: 0px !important;}
</style></td>
        </tr>
    </tbody></table>
</div>             
        
         
          
          <script src="js/jquery-3.2.1.min.js"></script>
          <script src="js/jquery-ui.min.js"></script>

          <script src="js/videoLession.js"></script>
          <script src="js/common/common.js"></script>
         <!--  <script type="js/firstSignInPage.js"></script> -->
         

</body>
</html>