
.capnhat{
	margin-left: 300px;
	width: 100px;
	height: 40px;
	font-family: sans-serif;
	background-color:#ff0000;
	margin-left: 300px;
	border-radius: 5px;
	border-color:#0000;
}
/*input:focus{
	border: 0;
	outline: 0;
}*/
input{
	border: 0;
	outline: 0;
}
